<form action="/authors" method="POST">

    <label for="name" name="name">Name</label>
    <input type="text" name="author[name]">

    <div>
        <label for="books" name="books">Books</label>
        <input type="text" name="book[][title]" placeholder="Title">
        <input type="textarea" name="book[][snippet]" placeholder="Snippet">
        <input type="text" name="book[][title]" placeholder="Title">
        <input type="textarea" name="book[][snippet]" placeholder="Snippet">
        <input type="text" name="book[][title]" placeholder="Title">
        <input type="textarea" name="book[][snippet]" placeholder="Snippet">
    </div>
    <input type="submit" value="Create a new author">
    

</form>