<!DOCTYPE html>
<html>
<head>
    <title>Book Detail</title>
</head>
<body>
    <h1><%=@book.title%></h1> 
    <h2>by <%=@book.author%></h2>

    <div>
        <%= @book.snippet %>
    </div>

    <form action="" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this book">
    </form>
    <a href="/books">Home</a>

</body>
</html>

